<body>
    {{> header}}

    <div class="container main">
        <h1 class="text-center my-3">Pizza Delivery</h1>
        <p style="font-size:20px; margin-top:50px; margin-bottom:50px">
            Welcome to Bihari pizza. World prestigious pizaa shop for pizzeterian.</p>
        <div class="d-grid gap-2 col-2 mx-auto">
            <a class="btn btn-outline-dark" href="/user/login">Place Order Here ></a>
        </div>
    </div>

    {{> footer}}