{{> header1}}

<div class="container mt-5 text-center">
    <h1 class="display-1 text-primary">Congrates!! Your Order has been Placed Succesfully!!</h1>
    <h1 class="display-3 text-primary">Thanks for choosing Us!!</h1>
</div>

{{> footer}}