{{> header1}}
<div class="content">
    <div class="text-center mt-3">
        <img src="/static/images/ravi.jpg" alt="" style="width: 18rem; margin:0; border-radius:80%">
    </div>
    <div class="card my-2" style="width: 18rem;">
        <div class="card-body">
            <p class="card-text">Name: {{name}}</p>
            <p class="card-text">Email: {{email}}</p>
            <p class="card-text">Contact: {{contact}}</p>
            <p class="card-text">Address: {{address}}</p>
        </div>
    </div>
</div>

{{> footer}}